{% extends 'base.html' %}

{% block title %} {{ topic.text }} {% endblock title %}

{% block header %}
    <h2>{{ topic.text }}</h2> <a style="text-decoration: none" href="/newentry/{{ topic.text }}">New Entry</a>
{% endblock header %}

{% block content %}
    <ul>
        {% for entry in topic.entry_set.iterator %}
            <div class="card mb-3">
                <p style="font-size: 18px" class="card-header">
                {{ entry.date_added|date:'M d, Y H:i' }}
               <a style="font-size: 18px; text-decoration: none" href="/editentry/{{ entry.id }}">Edit</a>
            </p>
                <div class="card-body">{{ entry.text|linebreaks }}</div>
            </div>
        {% empty %}
            <p>There are No Entry Yet!</p>
        {% endfor %}

    </ul>
{% endblock content %}